body {
  height: 105vh;
  padding-top: 60px;
  display: flex;
  overflow: hidden;
}

.viewerContainer {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  max-height: 100%;
  align-self: center;
}

.boxContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.MuiAutocomplete-root {
  flex: 1; /* Makes the Autocomplete take equal width */
  margin: 0 10px; /* Adds spacing between the divs */
  min-width: 0; /* Ensures the divs shrink appropriately */
}

.modelCell {
  user-select: none;
}

.modelCall {
  font-family: "Fira Code";
  font-size: 14px;
  margin-bottom: 2px;
  cursor: default;
}

.modelID {
  color: #888888;
  font-size: 12px;
  margin-bottom: 2px;
}

.modelType {
  border: 1px solid #888888;
  font-size: 12px;
  color: #888888;
  padding: 0 0.25rem;
  cursor: default;
}

.modelTable {
  overflow: hidden;
  height: 700px;
  padding-bottom: 60px;
  table-layout: auto;
}

.modelTable tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.modelTable thead {
  background: white;
}

.modelTable thead tr {
  display: table-row-group;
}
.modelTable th,
.modelTable td {
  text-align: left;
  box-sizing: border-box;
}

.modelEllipse:hover {
  text-decoration: underline #333333
}

.modelTable tr:first-child td {
  border-top: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bec4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modelSummary {
  max-width: 90%;
}

.modelDetailsContainer {
  width: 850px;
}

.modelItemsContainer {
  width: 100%;
  overflow-y: auto;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modelHeader {
  text-align: left;
}

.modelRCode {
  width: 100%;
  text-align: left
}

.hljs {
  background: #f8f8f8;
}

pre code.hljs {
  padding: 0;
}

.descriptors {
  text-align: left;
}

.variableList {
  text-align: left;
}

.variableListItem {
  font-family: "Fira Code";
  font-size: 14px;
}

.callDescription {
  text-align: left;
}

.geographicContext {
  text-align: left;
}

.taxonomicContext {
  text-align: left;
}

.citation {
  text-align: left;
}