body {
  height: (100vh - 60px - 93px);
  padding-top: 60px;
}

.viewerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.boxContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.MuiAutocomplete-root {
  flex: 1; /* Makes the Autocomplete take equal width */
  margin: 0 10px; /* Adds spacing between the divs */
  min-width: 0; /* Ensures the divs shrink appropriately */
}

.modelCell {
  user-select: none;
}

.modelCall {
  font-family: "Fira Code";
  margin-bottom: 2px;
  cursor: default;
}

.modelID {
  color: #888888;
  font-size: 12px;
  margin-bottom: 2px;
}

.modelType {
  border: 1px solid #888888;
  font-size: 12px;
  color: #888888;
  padding: 0 0.25rem;
  cursor: default;
}

.modelTable {
  overflow: hidden;
  height: 700px;
  padding-bottom: 60px;
}

.modelTable tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.modelTable thead {
  background: white;
}

.modelTable thead tr {
  display: block;
}
.modelTable th,
.modelTable td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

.modelEllipse:hover {
  text-decoration: underline #333333
}

.modelTable tr:first-child td {
  border-top: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bec4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modelSummary {
  max-width: 90%;
}
